body {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  padding: 20px;
  columns: 1;
  column-gap: 20px;
}

.unit {
  break-inside: avoid;
}

@media (min-width: 480px) {
  .grid {
    columns: 2;
  }
}

@media (min-width: 640px) {
  .grid {
    columns: 3;
  }
}

@media (min-width: 1024px) {
  .grid {
    columns: 4;
  }
}
